body {
    height: 100%;
    width: 100%;
    background-color: #7272e3;
    margin: 0;
}

#countdown {
    position: relative;
    margin: auto;
    border-radius: 1em;
    width: 40%;
    padding: 2%;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
    margin-top: 1em;
    background-color: white;
    display: flex;
}

#countdown-number {
    flex-shrink: 0;
    color: black;
    display: inline-block;
    font-size: 4em;
}

#countdown-start {
    padding: 1%;
    margin: auto;
}

#countdown-reset {
    margin: auto;
}

#countdown-start img {
    padding: 0.2em;
}

#countdown-reset img {
    padding: 0.2em;
}

#countdown-text {
    flex-grow: 1;
    text-align: right;
    font-size: 2em;
    margin: auto;
}

@keyframes countdown {
    from {
        stroke-dashoffset: 0px;
    }
    to {
        stroke-dashoffset: 113px;
    }
}

#navigation {
    position: relative;
    margin: auto;
    padding-left: 2%;
    padding-right: 2%;
    color: white;
    display: flex;
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
}

.elem-navigation {
    text-align: right;
    flex-grow: 1;
    padding: 10px;
}

#aboutnav {
    text-align: left;
}

a {
    text-decoration: underline;
    color: white;
    line-height: 16px;
}

#contentintro {
    position: relative;
    margin: auto;
    color: white;
    width: 40%;
    padding: 2%;
    margin-top: 2em;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

li a {
    text-decoration: underline;
}

#aboutintro {
    position: relative;
    margin: auto;
    color: white;
    width: 60%;
    padding: 2%;
    margin-top: 2em;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
}

@media only screen and (max-width: 600px) {
    #countdown {
        width: 86%;
        padding: 4%;
    }
    #navigation {
        width: 90%;
    }
    #contentintro {
        width: 90%;
    }
    #basedonnav {
        font-size: 0.9em;
    }
    #aboutintro {
        width: 90%;
    }
    .footer {
        position: relative;
        left: 0;
        bottom: 0;
    }
}