body {
    height: 100%;
    width: 100%;
    background-color: #7272e3;
}

#countdown {
    position: relative;
    margin: auto;
    border-radius: 1em;
    width: 40%;
    padding: 2%;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
    margin-top: 13em;
    background-color: white;
    display: flex;
}

#countdown-number {
    flex-shrink: 0;
    color: black;
    display: inline-block;
    font-size: 4em;
}

#countdown-start {
    padding: 1%;
    margin: auto;
}

#countdown-reset {
    margin: auto;
}

#countdown-start img {
    padding: 0.2em;
}

#countdown-reset img {
    padding: 0.2em;
}

#countdown-text {
    flex-grow: 1;
    text-align: right;
    font-size: 2em;
    margin: auto;
}

@keyframes countdown {
    from {
        stroke-dashoffset: 0px;
    }
    to {
        stroke-dashoffset: 113px;
    }
}

#navigation {
    position: relative;
    margin: auto;
    padding-left: 2%;
    padding-right: 2%;
    color: white;
    display: flex;
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
}

.elem-navigation {
    text-align: right;
    flex-grow: 1;
    padding: 10px;
}

#aboutnav {
    text-align: left;
}

#basedonnav {
    text-align: right;
}